body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav ul li {
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

a:hover {
  color: #007bff;
}


/* Add this to center the title */
.title {
  text-align: center;
  margin-top: 50px; /* Optional: Adds space from the top of the page */
  font-size: 2em;  /* Optional: Changes the font size */
}
